name: Test Suite # IMPORTANT: If this name changes you need to update the canceller.yml

# Controls when the action will run.
on:
  # Triggers the workflow on push for the master branch.
  push:
    branches: [ master ]

  # Triggers the workflow on pull request for any branch.
  pull_request:

  # Allows you to run this workflow manually from the Actions tab.
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-18.04
    services:
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        python-version: [ 2.7, 3.4, 3.5, 3.6, 3.7 ]
        django-version: [ 1.8.*, 1.9.*, 1.10.*, 1.11.*, 2.0.*, 2.1.*, 2.2.*, 3.0.* ]
        exclude:
          - python-version: 2.7
            django-version: 2.0.*
          - python-version: 2.7
            django-version: 2.1.*
          - python-version: 2.7
            django-version: 2.2.*
          - python-version: 2.7
            django-version: 3.0.*
          - python-version: 3.4
            django-version: 3.0.*
          - python-version: 3.5
            django-version: 3.0.*
    steps:
      # Checks-out the  repository.
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r dev_requirements.txt
          pip install -q Django==${{ matrix.django-version }}

      - name: Install Cache Helper Package
        run: pip install -e .

      - name: Run tests
        run: python manage.py test
        working-directory: ./test_project
